:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Core Requirements */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background: #1B1924;
    color: #FFFFFF;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    /* width: 90%; */
    max-width: 320px;
    margin: 30px auto;
}

h1 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
}

/* - Endorsements - */
h2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    color: #1B1924;
}

p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #1B1924;
}

/* Freddie */
#logo {
    width: 90px;
    height: 90px;
}

.div-inputs {
    max-width: 320px;
}

/* Text Area */
textarea {
    height: 200px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    
    border: 0;
    padding: 1rem;
    border-radius: 8px;
    
    color: #8F8F8F;
    background: #444059;
}
input {
    width: 49%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    border: 0;
    padding: 15px;
    border-radius: 8px;
    
    color: #8F8F8F;
    background: #444059;
}

.input-sibling{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0;
}

/* Publish Button */
button {
    width: 100%;
    padding: 1rem;

    border: none;
    border-radius: 8px;
    
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    
    color: #04131C;
    background: #28A9F1;
    
}

.u-hover--sparkle {
 
    box-sizing: border-box;
    position: relative;
    padding: 0.75em;
    &::before,
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
        border-radius: 8px;
        transition: all 1s;
    }

    &::before {
        border-top: 4px solid #0b3652;
        border-bottom: 4px solid #0b3652;
        transform: scale3d(0,1,1);
    }

    &::after {
        border-left: 4px solid #0b3652;
        border-right: 4px solid #0b3652;
        transform: scale3d(1,0,1);
    }

    &:hover::before,
    &:hover::after {
        transform: scale3d(1,1,1);
        transition: transform 900ms;
        cursor: pointer;
    }
}

#feeds {
    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 0.5rem;
    
    width: 100%;
    padding: 0.7rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    background: #FFFFFF;
    color: #1B1924;

    transition: all 0.5s ease 0s;
}

.card:hover{
    color: #494949 !important;
    border-radius: 25px;
    border-color: #494949 !important;
    transition: all 0.5s ease 0;
}

.card-footer {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-from {
    margin-right: auto;
}

.btn-delete{
    width: 100px;
    height: 20px;
    margin: 0 4px;
    font-size: 14px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.card-like {

    display: flex;
    flex-direction: row;
    align-items: center;

    column-gap: 0.2rem;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #000000;
}